@{
    ViewBag.Title = "Informacje";
}

<hgroup class="title">
    <h1>-> @ViewBag.Title <-</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Trochę informacji o sobie
    </p>

    <p>
        Kilka słów o witrynie
    </p>

    <p>
        A tutaj jeszcze coś
    </p>
</article>

<aside>
    <h3>Linkownia</h3>
    <p>
        Kliknij na link, aby przejść do kolejnej podstrony aplikacji Web:
    </p>
    <ul>
        <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
        <li>@Html.ActionLink("Informacje", "About", "Home")</li>
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
    </ul>
</aside>